* {
    margin: 0;
    padding: 0;
}

.chat-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 244, 244);
}

.chats {
    width: 400px;
    height: 400px;
    border: 0.3px solid gray;
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    overflow-y: scroll;
}

.chats p {
    width: calc(100% - 10px);
    height: 35px;
    border-radius: 4px;
    background: rgb(247, 244, 244);
    border: 0.3px solid gray;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 5px;
}

.inputs-container {
    width: 420px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.inputs-container input {
    width: 75%;
    height: 35px;
    border-radius: 4px;
    border: 0.3px solid gray;
    padding-left: 10px;
}

.inputs-container button {
    margin-left: 10px;
    width: calc(25% - 10px);
    height: 35px;
    border-radius: 4px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
    transition: 0.3s ease-in;
}

.inputs-container button:hover {
    cursor: pointer;
    filter: brightness(1.1);
}

.logged {
    width: 420px;
    height: 60px;
    color: white;
    background-color: cornflowerblue;
    margin-bottom: 20px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.logged strong {
    margin-left: 10px;
    font-size: 22px;
}

.login-container {
    width: 100%;
    height: 100vh;
    background-color: rgb(247, 244, 244);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form-container {
    width: 420px;
    height: 420px;
    border: 0.3px solid gray;
    background-color: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding: 20px;
}

.title {
    margin-bottom: 50px;
    width: 100%;
    height: 80px;
    border: 2px solid cornflowerblue;
    color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
}

.input-login {
    width: 100%;
}

.input-login input {
    width: calc(100% - 15px);
    height: 50px;
    padding-left: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 0.3px solid gray;
}

.button-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-login button {
    width: 100%;
    height: 40px;
    color: white;
    background-color: cornflowerblue;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    font-size: 22px;
    transition: 0.3s ease-in;
}

.button-login button:hover {
    cursor: pointer;
    filter: brightness(1.1);
}

a:link {
    text-decoration: none;
    color: cornflowerblue;
}
  
a:visited {
    text-decoration: none;
    color: cornflowerblue;
}

a:hover {
    text-decoration: none;
    color: cornflowerblue;
}

a:active {
    text-decoration: none;
    color: cornflowerblue;
}

.subtitle {
    margin-bottom: 40px;
    font-size: 26px;
    color: gray;
    font-weight: bold;
    text-transform: uppercase;
    font-family:"Courier New", arial, helvética;;
}

.message-error {
    width: 400px;
    height: 30px;
    background-color: #ed4337db;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 4px;
}